<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 配置数据源，交给spring去做   -->
    <!--  设置别名  -->
    <typeAliases>
        <package name="com.tanjiu.pojo"/>
    </typeAliases>
    <mappers>
        <!--注意:目录文件路径不要加classpath,路径其实是看target文件里面的路径-->
        <mapper resource="mapper/mapper.xml"></mapper>
    </mappers>
</configuration>